@media(max-width: 1100px){
    nav, .hero, .guide, .seller, .card-info-items, .feature, .section-interview{
        max-width: 90%;
    }
    .logo{
        margin-left: 0px;
    }
    .burger{
        display: block;
    }
    nav ul{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
        flex-direction: column;
        width: 100%;
        background-color: rgb(233, 233, 233);

        display: none;
    }



    .active{
        display: block;
    }
    .hide{
        display: none;
    }

    .hero{
        flex-direction: column;
        gap: 2rem;
    }
    .hero-text h1{
        /* width: 300px; */
        font-size: 35px;
        line-height: 45px;
        width: 100%;
    }
    .hero-text p{
        width: 100%;
    }
    .hero img{
        width: 100%;
    }

    .guide p{
        width: 100%;
    }
    .seller{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
    .card-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
    .card-info img{
        width: 100%;
    }
    .card-info-text h4{
        text-align: center;
    }
    .card-info-text p{
        text-align: center;
        width: 100%;
        font-size: 20px;
        line-height: 26px;
    } 
    .big-circle-3, .big-circle{
        left: 10%;
    }
    .big-circle-2{
        right: 10%;
    }
    .big-circle-3, .big-circle, .big-circle-2{
        width: 200px;
        height: 200px;
    }
    .card-info-text-2{
        order: 1;
    }
    .feature{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 3rem 0;
    }
    .section-feature h3{
        width: 90%;
        font-size: 30px;
    }
    .interview-row{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 0px;
    }
    .interview-items img{
        width: 100%;
    }  
}